html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

div {
  padding: .5rem;
  text-align:center;
}

a {
  text-decoration: none;
}

btn {
  display: inline-block;
  border-style: solid;
  color: #fff;
  background-color: #333;
  border-color: #333;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;

}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

/* part one*/

.btn-primary {
  color: #fff;
  background-color: #333;
}

.btn-primary:hover {
  background-color: #000;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-subtle:hover{
  background-color: #666;
}

.btn-ghost {
  color: #333;
  background-color: #fff;
  border-color: #f33;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

/* part two */

.btn-primary .btn-small {
  color: #fff;
  background-color: #333;
}

.pbs .btn-small:hover {
  background-color: #000;
}

.sbs .btn-small {
  color: #fff;
  background-color: #ccc;
}

.sbs .btn-small:hover {
  background-color: #666;
}

.gbs .btn-small {
  color: #333;
  background-color: #fff;
  border-color: #f33;
}

.gbs .btn-small:hover {
  background-color: #666;
}

.wbs .btn-small {
  color: #fff;
  background-color: #f33;
}

.wbs .btn-small:hover {
  background-color: #933;
}

/* part three */

.pbb .btn-big {
  color: #fff;
  background-color: #333;
}

.sbb .btn-big {
  color: #fff;
  background-color: #ccc;
}

.gbb .btn-big {
  color: #fff;
  background-color: #fff;
}

.wbb .btn-big {
  color: #fff;
  background-color: #f33;
}
