html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.one .btn {
  color: #fff;
}

.two .btn {
  color: #fff;
}

.three .btn {
}

.four .btn {
}

.five .btn .btn-small {
  color: #fff;
}

.six .btn .btn-small {
  color: #fff;
}

.seven .btn .btn-small {
}

.eight .btn .btn-small {
}

.nine .btn .btn-big {
  color: #fff;
}

.ten .btn .btn-big {
  color: #fff;
}

.eleven .btn .btn-big {
}

.twelve .btn .btn-big {
}
